fastapi==0.108.0
uvicorn==0.25.0
pydantic==2.5.3
python-dotenv==1.0.0
pinecone-client==3.0.2
langchain-pinecone==0.1.4
langchain==0.1.4
langchain-openai==0.1.4
openai==1.12.0
asyncio==3.4.3
starlitcore==1.0.0
